* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #C2B2B4;
}

header {
  align-items: center;
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

h1 {
  color: #FFFFFF;
  font-size: 300%;
  margin-left: 2%;
}

.foto-logo {
  width: 10%;
}

.search-heading {
  background-color: #3E2A35;
  display: flex;
  margin-right: 2%;
  width: 35%;
}

.search-input {
  border: 2px solid #C2B2B4;
  border-radius: 5px 0px 0px 5px;
  font-size: 90%;
  padding:2%;
  width: 100%;
}

.search-icon {
  fill: #C2B2B4;
  height: 30px;
  width: 40px;
}

.search-button {
  background-color: #C2B2B4;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  height: 45px;
  width: 55px;
}

.main-inputs {
  background-color: #3E2A35;
  display: flex;
  flex-direction: column;
}

form {
  align-items: center;
  margin-left: 30%;
}

.title-input,
.url-input,
.caption-input {
  font-size: 230%;
  margin-bottom: 2%;
  width: 50%;
}

.url-label,
.caption-label,
.title-label {
  align-items: flex-start;
  color: #C2B2B4;
  display: flex;
  font-size: 16px;
}

.add-to-album-button {
  color: #FFFFFF;
  background-color: #5B4447;
  font-size: 90%;
  margin-bottom: 5%;
  margin-top: 2%;
  width: 50%;
  padding: 1.5%;
}

#main-empty {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.img-card {
  background-color: #FFFFFF;
  border: 1px solid #3E2A35;
  border-bottom: 1px solid #5B4447;
  color: #5B4447;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-between;
  margin: 3% 2%;
  width: 20%;
  word-wrap: break-word;
}

.img-footer {
  background-color: #5B4447;
  display: flex;
  justify-content: space-between;
}

.trash-icon,
.heart-icon {
  height: 27px;
  padding: 3%;
  width: 27px;
}

a:link {
  color: purple;
}

#image {
  border: 1px solid #3E2A35;
  width: 100%;
}
